*{
box-sizing:border-box;
border:0;
margin:0;
}
.div1{
	background-color:#c7c5c1;
	padding:15px;
}
.div1 img{
	padding:20px;
	padding-left:40px;
	border-radious:60%;
}
.topright{
	float:right;
	font-size:18px;
}
.topright a:link{
	text-decoration:none;
	background-color:#3d97a1;
	padding:10px;
}
.topright a{
	color:white;
}
.menubar{
	background-color:#2f3336;
	width:36%;
	margin:auto;
	overflow:hidden;
	color:white;
	padding:10px;
	text-align:center;
}
.menubar a{
	text-decoration:none;
	color:white;
}
.menubar a:hover{
	background-color:white;
	color:green;
}
.first{
	float:left;
	width:33.333333%;
}
.second{
	float:left;
	width:33.333333%;
}
.third{
	float:left;
	width:33.333333%;
}

.projects{
	background-color:#e0e0e0;
	padding:20px;
	overflow:hidden;
}
.projects h3{
	font-size:25px;
	text-align:center;
}
.proj1{
	padding:20px;
	float:left;
	width:33.333333%;
}
.proj2{
	padding:20px;
	float:right;
	width:33.333333%;
}
.proj3{
	padding:20px;
	float:right;
	width:33.333333%;
}
.proj4{
	padding:20px;
	float:left;
	width:33.333333%;
}
.proj5{
	padding:20px;
	float:right;
	width:33.333333%;
}
.proj6{
	padding:20px;
	float:right;
	width:33.333333%;
}
.proj1,.proj2,.proj3,.proj4,.proj5,.proj6{
	background-color:#e0e0e0;
}
.projects h4{
	padding-left:20px;
}
.projects p{
	padding-left:20px;
}
.aboutme{
	background-color:#c7c5c1;
	padding:30px;
	overflow:hidden;
}
.aboutme h2{
	text-align:center;
	size:30px;
	padding:5px;
}
.personal{
	float:left;
	background-color:white;
	width:40%;
	margin-left:9%;
	padding:20px;
	max-height:153px;
	overflow:hidden;
}
.personal h4{
	text-align:center;
}
.education{
	float:left;
	background-color:#2f3336;
	color:white;
	width:40%;
	margin-right:9%;
	margin-left:1%;
	padding:20px;
}
.education h4{
	text-align:center;
}
.footer{
	background-color:#e0e0e0;
	text-align:center;
	padding:10px;
}
