@media only screen and (max-width:1223px){
    .multi>div{
        width:50%;
    }
    .multi{
        flex-wrap:wrap;
    }
}
@media only screen and (max-width:993px){
    .short{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width:577px) {
    .menubar .div1 a{
        width:400px !important;
    }
    .header{ 
        flex-direction:column !important;
    }
    .menubar{
        flex-direction: column;
        width:90% !important;
        margin: auto;
    }
    .inner2{
        flex-wrap: wrap;
    }
    .left{
        padding-bottom: 1px !important; 
    }
    .multi>div{
        width:100%;
    }
    .multi{
        flex-wrap:wrap;
    }

    
}
@media only screen and (max-width:460px) {
    .header{ 
        flex-direction:column !important;
    }
    .menubar{
        flex-direction: column;
        width:90% !important;
    }
    .menubar .div1 a{
        width:255px !important;
    }

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display:block;
}
img{
    image-rendering: pixelated;
    max-width: 100%;
}
.header{
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    width:90%;
    margin:auto;
}
.header >div{
    flex-grow:1;
}
.menubar {
    display: flex;
    flex-wrap:wrap;
    align-content: center;
}
.menubar .div1 a{
   text-decoration: none;
   font-size: 19pt;
   background-color: aqua;
   display:inline-block;
   width: 100px;
   height: 32px;
   text-align: center;
   border:1px solid black;
}
.menubar .div1{
    flex-grow: 1;
}
.outer{
    background-color: antiquewhite;
    padding: 10px;
}
.inner1,.inner2{
    width:90%;
    margin: auto;
    display: flex;
    overflow:hidden;
}
.inner1 img{
  height: 300px;
  object-fit: cover;
}
.inner1 .slide{
    flex-grow:1;
}
.slide:hover,.lastslide:hover{
    flex-shrink: 0;
}
.left{
    padding: 20px; 
}
.left h3{
    background-color: aqua;
    font-size: 2em;
}
.left h3:first-letter{
    color:red;
}
.right{
    padding:20px;
}
.right a{
    text-decoration: none;
    color:red;
}
.outer2{
    background-color: cadetblue;
    padding: 10px;
}
.multi{
    display: flex;
    color:white;
    width:90%;
    margin: auto;
    background-color: orangered;
   }
.multi .div1{
    flex-grow: 1;
    justify-content: center;
}
.multi img{
    width: 90%; 
    
}
.button{
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.outer3{
    display: flex;
    background-color: brown;
}
.outer3 >div{
    flex-grow: 1;
}
.short{
    width:50%;
    float:left;
}
.short h1,.div2 h1{
    color:white;
}
.short p{
    color:bisque;
}
.short img{
    float:left;
    border-radius: 5px;
}
.short ul{
    color:deeppink;
    list-style: none;
}
.li1{
    float:left;
    margin-left: 20px;
}
.li2{
    float:right;
    margin-right:20px;
}
.outer3 .div2{
   width:50%;
   float:left;
}
.div2 >div{
    flex-grow: 1;
}
.footer{
    text-align: center;   
    background-color:darkorange;
    color: floralwhite;
    padding: 15px;
}
